/** widgets start */
.widgets-row {
  padding: 60px 0;
  border-bottom: 1px solid #dee0ea;
}

.widgets-row .footer-widgets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.widgets-row .footer-widgets > div {
  flex: 1;
}

.widgets-row .footer-widgets > .brand-info {
  flex: 3;
}

.footer-widgets .brand-info .footer-description {
  width: 400px;
  font-size: 14px;
  margin: 15px 0;
}

.footer-widgets .brand-info .footer-contact {
  font-size: 14px;
}

/** widgets end */

/** copyright start  */
.footer-copyright {
  margin: 40px 0;
  display: flex;
  align-items: center;
}

.footer-copyright .site-copyright {
  font-size: 12px;
  margin-right: 10px;
}

.footer-copyright .footer-menu {
  margin-left: auto;
}

.footer-copyright .footer-menu-list {
  display: flex;
  align-items: center;
  font-size: 12px;
  column-gap: 10px;
}

.footer-copyright .footer-menu-list li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid #dee0ea;
}
/** copyright end  */

/*! responsive  */
@media (max-width: 768px) {
  .footer .footer-row-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .footer .brand-info {
    margin-bottom: 20px;
  }

  .footer-widgets .brand-info .footer-desc {
    width: unset;
  }

  .widgets-row .footer-widgets > div {
    flex: unset !important;
  }

  .footer-copyright {
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }

  .footer-copyright .footer-menu {
    margin-left: unset;
  }
}
