header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #000;
  border-bottom: 1px solid #8FABD4;
  z-index: 10;
}

.header-row {
  height: 80px;
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile {
  font-size: 50px;
  cursor: pointer;
  display: none;
}

.header-right .bi-x-circle {
  display: none;
}

.navigation .menu-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.menu-list-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 90px;
}

.menu-link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: relative;
}

.menu-link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #4A70A9;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease;
}

.menu-list-item:hover .menu-link::after,
.menu-link.active::after {
  width: 100%;
}

.menu-list-item i {
  font-size: 12px;
  margin-left: 5px;
}

.menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: 10px;
  max-width: 150px;
  background: #fff;
  border-radius: 14px;
  padding: 10px 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;
  z-index: 20;
}

/* Açılma */
.menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Linkler */
.menu-dropdown-wrapper .dropdown-item {
  display: block;
  padding: 10px 10px;
  font-size: 20px;
  color: #252525;
  transition: 0.2s ease;
}

.menu-dropdown-wrapper .dropdown-item:hover {
  background: #f7f7f7;
  color: #4A70A9;
}

.menu-dropdown-wrapper .dropdown-item.active {
  color: #4A70A9;
  font-weight: 600;
}

@media (max-width: 990px) {
  .header-right {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #dee0ea;
    z-index: 2;
    transition: 0.5s ease;
  }

  .header-right .bi-x-circle {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #4A70A9;
    font-size: 20px;
    cursor: pointer;
  }

  .navigation .menu-list {
    flex-direction: column;
    padding: 50px 75px;
  }

  .header-mobile {
    display: inline-block;
  }

  .menu-dropdown-wrapper {
    display: none !important;
  }

  .menu-list-item a {
    font-size: 16px !important;
    color: #252525;
  }
}