.campaign-single {
  background-image: url(../../img/single-campaign.jpg);
  background-attachment: fixed;
  padding: 140px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campaign-single .campaign-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}