.category-list-a {
  display: flex;
}

.categories .category-item {
  background-color: transparent;
  border-radius: 10px;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.categories .category-item a {
  display: inline-block;
}

.categories .category-b {
  padding-top: 52px;
}

.categories #shop-category {
  padding-top: 0;
}

.categories .category-item .category-image {
  width: 100%;
  height: auto;
  transition: transform ease .2s;
}

.categories .category-item .category-image:hover {
  transform: scale(1.1);
}

/*! category responsive start */  
@media (max-width: 800px) {
  .categories .category-list-a {
    display: flex;
    flex-wrap: wrap;
  }

  .categories .category-list-a .category-item {
    max-width: 50%;
  }

  .categories .category-b {
    padding-top: 0px;
  }
}

@media (max-width: 400px) {
.categories .category-list {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.categories .category-list-a {
  justify-content: center;
}

.categories .category-list .category-item{
  max-width: 100%;
}

.categories .category-item .category-image:hover {
  transform: scale(1.0125);
}
}

@media (max-width: 390.4px) {
  .categories .category-b {
    padding-top: 0px;
  }
}
/*! category responsive end */