.slider {
  position: relative;
}

.slider-item {
  position: relative;
  display: flex;
  align-items: center;
}

.slider .slider-image-a img {
  position: relative;
  z-index: -1;
  height: 100%;
}

.slider-item .slider-image img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  object-position: 60%;
  z-index: 1;
}

.slider .slider-clickables,
.slider .slider-clickables-2 {
  height: 776px;
  width: 100%;
}

.slider .slider-dots {
  position: absolute;
  bottom: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  z-index: 2;
}

.slider .slider-dots .slider-dot {
  border: none;
  display: flex;
  opacity: 0.4;
  transition: 0.2s ease opacity;
  background-color: transparent;
}

.slider .slider-dots .slider-dot:hover {
  opacity: 1;
}

.slider .slider-dots .slider-dot span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 100%;
}

.slider .slider-dots .slider-dot.active {
  opacity: 1;
}

@media (max-width: 1200px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 675px;
  }
}

@media (max-width: 1100px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 619px;
  }
}

@media (max-width: 1000px) {
  .slider .slider-dots {
    display: none;
  }
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 562px;
  }
}

@media (max-width: 900px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 506px;
  }
}

@media (max-width: 800px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 450px;
  }
}

@media (max-width: 700px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 394px;
  }
}

@media (max-width: 600px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 337px;
  }
}

@media (max-width: 500px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 281px;
  }
}

@media (max-width: 400px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 225px;
  }
}

@media (max-width: 390.4px) {
  .slider .slider-clickables,
  .slider .slider-clickables-2 {
    height: 219.6px;
  }
}