.single-topbar .breadcrumb ul {
  display: flex;
}
  
.single-topbar .breadcrumb ul li {
  font-size: 12px;
}
  
.single-topbar .breadcrumb ul li:not(:last-child):after {
  content: "/";
  color: #dee0ea;
  margin: 0 5px;
}
  
.single-topbar .breadcrumb ul li a:hover {
  color: #000;
  text-decoration: underline;
}